In [2]:
var5 = {"key_1":"value 1",
		"key_2":"value 2",
		}

print(var5["key_1"])
print(var5.items())
print(var5.keys())
print(var5.values())

value 1
dict_items([('key_1', 'value 1'), ('key_2', 'value 2')])
dict_keys(['key_1', 'key_2'])
dict_values(['value 1', 'value 2'])

In [80]:
#pandas
import pandas as pd #import the package 'pandas' and give it the alias 'pd'

filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv" #the r tells Python to treat the string as a raw string, and ignore characters like %

house_prices = pd.read_csv(filepath) #read the CSV file from the URL into a pandas DataFrame. If reading an excel file use pd.read_excel()

#house_prices.info() #get a summary of the DataFrame, including the number of non-null entries and data types for each column
house_prices["Period"].info() #get info on a specific column

house_prices.head() #print the first 5 rows of the DataFrame. 5 is default.
house_prices.tail(10) #print the last 10 rows of the DataFrame

type(house_prices) #check the type of the object, should be a pandas DataFrame

house_prices["Period"] #access a specific column in the DataFrame

mean_price = house_prices["Average price All property types"].mean() #calculate the mean of a specific column

condition = house_prices["Average price All property types"] < mean_price #create a condition to filter the DataFrame
less_than_mean = house_prices[condition] #apply the condition to the DataFrame to get rows where the condition is True

print(less_than_mean)

<class 'pandas.core.series.Series'>
RangeIndex: 523 entries, 0 to 522
Series name: Period
Non-Null Count  Dtype
--------------  -----
523 non-null    object
dtypes: object(1)
memory usage: 4.2+ KB
               Name   Period  House price index All property types  \
0    United Kingdom  1980-01                                 10.11
1    United Kingdom  1980-02                                 10.11
2    United Kingdom  1980-03                                 10.11
3    United Kingdom  1980-04                                 10.51
4    United Kingdom  1980-05                                 10.51
..              ...      ...                                   ...
269  United Kingdom  2002-06                                 59.43
270  United Kingdom  2002-07                                 59.90
271  United Kingdom  2002-08                                 61.23
272  United Kingdom  2002-09                                 62.72
273  United Kingdom  2002-10                                 63.19

     Average price All property types  \
0                               19273
1                               19273
2                               19273
3                               20044
4                               20044
..                                ...
269                            113304
270                            114214
271                            116743
272                            119576
273                            120486

     Percentage change (monthly) All property types  \
0                                              3.94
1                                              3.94
2                                              3.94
3                                              4.00
4                                              4.00
..                                              ...
269                                            4.09
270                                            0.80
271                                            2.21
272                                            2.43
273                                            0.76

     Percentage change (yearly) All property types
0                                            28.59
1                                            28.59
2                                            28.59
3                                            24.15
4                                            24.15
..                                             ...
269                                          17.41
270                                          14.25
271                                          16.78
272                                          19.61
273                                          22.99

[274 rows x 6 columns]

In [55]:
import pandas as pd

filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

ci = pd.read_csv(filepath)

type(ci)
#ci.info()
ci.tail(10)
ci.head()

ci["PersonBirthDate"].info()

#create a new column by copying an existing one
ci["PersonBirthDate_dt"] = ci["PersonBirthDate"]

# format argument for datetimes strftimes
ci["PersonBirthDate_dt"] = pd.to_datetime(ci["PersonBirthDate"], format="%Y-%m-%d") #convert the column to datetime format
#ci["PersonDeathDate_dt"] = pd.to_datetime(ci["PersonDeathDate"], format="%Y-%m-%d") #convert the column to datetime format
ci["ExpectedPersonBirthDate_dt"] = pd.to_datetime(ci["ExpectedPersonBirthDate"], format="%Y-%m-%d") #convert the column to datetime format


ci.head()

<class 'pandas.core.series.Series'>
RangeIndex: 332 entries, 0 to 331
Series name: PersonBirthDate
Non-Null Count  Dtype
--------------  -----
332 non-null    object
dtypes: object(1)
memory usage: 2.7+ KB

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,ExpectedPersonBirthDate_dt
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT

In [103]:
# sum, min, max, median, mean
ciIDsum = ci["Unnamed: 0"].sum()
ciIDmin = ci["Unnamed: 0"].min()
ciIDmax = ci["Unnamed: 0"].max()
ciIDmedian = ci["Unnamed: 0"].median()
ciIDmean = ci["Unnamed: 0"].mean()

collection_end = pd.to_datetime("2026-03-31", format="%Y-%m-%d") #create a datetime object for comparison

ci["Age_delta"] = collection_end - ci["PersonBirthDate_dt"] #calculate the age at collection end date

ci["Age_delta"] = ci["Age_delta"] / pd.Timedelta(365.25, "d") #convert the age from timedelta to years

ci["Age_delta"] = ci["Age_delta"].astype(int)

ci_age_mean = ci["Age_delta"].mean()
ci_age_median = ci["Age_delta"].median()
ci_age_min = ci["Age_delta"].min()
ci_agi_max = ci["Age_delta"].max()
ci_age_sum = ci["Age_delta"].sum()

print(f"The mean age is {ci_age_mean}, the median age is {ci_age_median}, the minimum age is {ci_age_min}, the maximum age is {ci_agi_max}, and the sum of ages is {ci_age_sum}.")

The mean age is 12.289156626506024, the median age is 12.0, the minimum age is 3, the maximum age is 21, and the sum of ages is 4080.