In [24]:
import pandas as pd

ci_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

cc_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

identifiers = pd.read_csv(ci_filepath)

characteristics = pd.read_csv(cc_filepath)

In [25]:
# NaN = Not a Number
# NaT = Not a Time
# Na/pd = Not a Pandas value

#strftime format yyyy-MM-dd

#insert a new column formatting columns as a date (as dates are otherwise stored as strings if we examine identifiers.info)
identifiers['PersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")
identifiers['ExpectedPersonBirthdate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")


identifiers['PersonDeathDate_dt'] = pd.to_datetime(identifiers['PersonDeathDate'], format="%Y-%m-%d", errors="coerce") #errors="coerce" forces the errors to become 'NaT' so that we can still run calculations


print(identifiers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   PersonBirthDate_dt          332 non-null    datetime64[ns]
 10  ExpectedPersonBirthdate_dt  332 non-null    datetime64[ns]
 11  PersonDeathDate_dt          20 non-null     datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(5)
memory usage: 31.3+ KB
None

In [31]:
from dateutil.relativedelta import relativedelta

# variables like pd.to_datetime is a function, and is snake_case.
# classes like pd.DataFrame is a class, and is CamelCase.

# a dictionary of lists
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
							'Age at contact':[6, 12, 11, 1, 19],
							'SEX':['M', 'm', 'F', '', 'F'],
							'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
							'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([{'ChildId':'id1',
							'NHS Number':'303'},
							{'ChildId':'id2',
							'NHS Number':'3u5029'},
							{'ChildId':'id3',
							'NHS Number': 'gqw3',},
							{'ChildId':'id4',
							'NHS Number': 'avsgvb',},
							{'ChildId':'id5',
							'NHS Number': 'varwvw',},
							])

child_info['Birthday_dt'] = pd.to_datetime(child_info['Birthday'], dayfirst=True, errors='coerce')

#lambda function
child_info['Age'] = child_info['Birthday_dt'].apply(lambda row: relativedelta(pd.to_datetime('today'), row).years)

child_info

  ChildId  Age at contact SEX    Birthday CP Plan? Birthday_dt  Age
0     id1               6   M  01/01/2002        Y  2002-01-01   23
1     id2              12   m  02/02/2003        n  2003-02-02   22
2     id3              11   F  01/01/2000        N  2000-01-01   25
3     id4               1      03/03/2023       No  2023-03-03    2
4     id5              19   F  06/01/2012      yES  2012-01-06   13